<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>id</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each bins}}
      <tr>
        <td>{{ @index }}.</td>
        <td>
          <a href="/__rustybin/{{ id }}">{{ id }}</a>
        </td>
        <td>
          {{> bins/_copy_button id }}
        </td>
        <td>
          <form method="post" class="form-inline" action="/__rustybin/{{ id }}">
            <input type="hidden" name="_method" value="delete"></input>
            <button type="submit" class="btn btn-link">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
